In [ ]:
#Data Science
#..Data science is an interdisciplinary field that combines
#statistical and computational methods to extract insights and knowledge from data
#..It involves using a variety of techniques from statistics, 
# machine learning, data mining, and big data technologies to analyze and interpret 
# complex data sets. 
# ..The goal of data science is to uncover 
# patterns, make predictions, and inform decision-making processes in various domains
#..We can use structured and unstructured data

#Applications of Data Science 
# Healthcare: Predictive analytics, personalized medicine, and medical image analysis.
#Finance: Risk management, algorithmic trading, and customer insights.
#Retail and E-commerce: Recommendation systems, inventory management, and customer sentiment analysis.
#Marketing and Advertising: Targeted advertising, market basket analysis, and customer segmentation.
#Transportation and Logistics: Route optimization, predictive maintenance, and traffic management.

#Data Analysis----> focuses on interpreting data and drawing insights through statistical
#and graphical methods. It is often used for descriptive purposes.
#Data Science-----> encompasses data analysis but extends to building predictive models
#and automating processes using machine learning and big data technologies.
#Machine Learning----->is a subset of artificial intelligence focused on building systems
#that learn from data to make predictions or decisions. 


#Data Collection

In [1]:
1. #Import necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print(np.__version__)
print(pd.__version__)

2.0.0
2.2.2

In [2]:

2.#Loading Data Set
# Load the CSV file into a DataFrame using a raw string
df = pd.read_csv(r'C:\Users\HP USER\Documents\niceguys.csv')

# Display the first few rows of the DataFrame
print(df.head())

   number_siblings                   name     sex  age living allowance  \
0                1     Nakasujja Gertrude  female   33              NaN
1                3  Arinda Asiimwe Atweta  female   23           50,000
2                4    Ndjekornom Victoire    male   23            25000
3                0         KATURAMU EDGAR    male   27           500000
4                4      Abinsinguza Lasse    male   24        sh:100000

                  Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0            Data Scientist                          2         NaN
1  Machine Learning Enginer                          1         NaN
2            Data Scientist                          1         NaN
3  Machine Learning Enginer                          2         NaN
4            Data Scientist                          2         NaN

   do_you_have_aboyfriend/girlfriend
0                                  1
1                                  1
2                                  0
3                                  0
4                                  1

In [3]:
# Check for missing values
print(df.isnull().sum())

number_siblings                       0
name                                  0
sex                                   0
age                                   0
living allowance                      3
Are_you_a                             0
How_many_time_do_eat_food             0
Unnamed: 7                           35
do_you_have_aboyfriend/girlfriend     0
dtype: int64

In [4]:
# Impute missing values in the "living allowance" column with the mean
mean_living_allowance = df['living allowance'].mean()
df['living allowance'].fillna(mean_living_allowance, inplace=True)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# Convert string values in "living allowance" column to numeric
df['living allowance'] = pd.to_numeric(df['living allowance'], errors='coerce')

# Calculate the mean of "living allowance"
mean_living_allowance = df['living allowance'].mean()

# Fill missing values in "living allowance" column with the mean
df['living allowance'] = df['living allowance'].fillna(mean_living_allowance)

In [6]:
# Check for missing values
print(df.isnull().sum())

number_siblings                       0
name                                  0
sex                                   0
age                                   0
living allowance                      0
Are_you_a                             0
How_many_time_do_eat_food             0
Unnamed: 7                           35
do_you_have_aboyfriend/girlfriend     0
dtype: int64

In [10]:
# Check for inconsistent formatting
print(df.dtypes)

number_siblings                        int64
name                                  object
sex                                   object
age                                    int64
living allowance                     float64
Are_you_a                             object
How_many_time_do_eat_food              int64
do_you_have_aboyfriend/girlfriend      int64
dtype: object

In [11]:
# Check for outliers
print(df.describe())

       number_siblings        age  living allowance  \
count        35.000000  35.000000      3.500000e+01
mean          3.914286  23.914286      3.700952e+05
std           2.536457   2.852980      4.125949e+05
min           0.000000  20.000000      2.000000e+03
25%           2.000000  22.500000      2.000000e+05
50%           4.000000  23.000000      3.700952e+05
75%           5.000000  24.000000      3.700952e+05
max           9.000000  33.000000      2.500000e+06

       How_many_time_do_eat_food  do_you_have_aboyfriend/girlfriend
count                  35.000000                          35.000000
mean                    2.314286                           0.314286
std                     0.676123                           0.471008
min                     1.000000                           0.000000
25%                     2.000000                           0.000000
50%                     2.000000                           0.000000
75%                     3.000000                           1.000000
max                     3.000000                           1.000000